@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0d0124;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0124;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.MyContainer {
  max-width: 1400px;
  width: 80%;
  margin: auto;
  box-sizing: border-box;
}

/* 🎨 Custom Scrollbar ONLY for Left Section */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #c084fc;
  box-shadow: 0 0 14px #c084fc;
}

/* 🟣 Optional Smooth Fade Glow (for premium feel) */
.custom-scroll {
  scrollbar-color: #a855f7 transparent;
  scrollbar-width: thick;
  scrollbar-gutter: stable both-edges;
}
